*/target
target
tmp
*~
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
project.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.classpath
.project
.settings/
.idea/
.navigation/
out
.DS_Store
classes
.gradle
com_crashlytics_export_strings.xml
*.apk
build/
captures/
local.properties
fastlane/report.xml
